## in docs
docs/benchmarks/
docs/drugs/
docs/self_assessment/
docs/generations_llm/
docs/graphs
docs/paper
docs/results
docs/mimic-iv-note-deidentified-free-text-clinical-notes-2.2/note

## in modules
static/
scrape-research/
notebooks/

## secret
.env



