.DS_Store
# Not sharing data
docs/* 

# caches 
**/__pycache__

# generated automatically
**/__init__.py
*/__init__.py

# scrapes
scrape-research
*_stale*

# sensitive information
.env


# not pushing the model checkpoints
checkpoints/**


notebooks/Q_*.ipynb